<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="MCPI - Free compound protein interaction prediction.        ">
  <meta name="author" content="Ivan">
  <title>MCPI - Free compound protein interaction prediction</title>
  <link rel=" icon" href="./static/images/brand/favicon.png">
  <link rel="shortcut icon" href="./static/images/brand/favicon.png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" href="{{url_for('static',filename = 'css/theme.css')}}" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" href="{{url_for('static',filename = 'css/demo.css')}}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
      <a class="navbar-brand" href="./"><strong>MCPI</strong> - Free compound protein interaction prediction</a>
      <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
        aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
          <!-- <li class="nav-item active">
              <a class="nav-link" href="./index.html">Overview</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="./index">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
            <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
              <a class="dropdown-item" href="../sign-up">Sign up</a>
              <a class="dropdown-item" href="../sign-in">Sign in</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm bg-white d-none d-lg-inline-flex" href="./product">Product</a>
            <!-- <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"
                class="nav-link d-lg-none">Products</a>
            <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"
                class="btn btn-sm bg-white d-none d-lg-inline-flex">Products</a> -->
          </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
              <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                <a class="dropdown-item" href="./pages/homepage.html">Homepage</a>
                <a class="dropdown-item" href="./pages/about.html">About us</a>
                <a class="dropdown-item" href="./pages/sign-in.html">Sign in</a>
                <a class="dropdown-item" href="./pages/contact.html">Contact</a>
              </div>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" href="./docs/introduction.html">Docs</a>
            </li> -->
          <!-- <li class="nav-item">
              <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"
                class="nav-link d-lg-none">Download Free</a>
              <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"
                class="btn btn-sm bg-white d-none d-lg-inline-flex">Download Free</a>
            </li> -->
          <div class="dropdown-divider d-lg-none my-4"></div>
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Social Media</h6>
          <!-- <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://instagram.com/webpixelsofficial/" target="_blank"><i
                  class="fab fa-instagram"></i><span class="ml-2 d-lg-none">Instagram</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://web.facebook.com/webpixels" target="_blank"><i
                  class="fab fa-facebook"></i><span class="ml-2 d-lg-none">Facebook</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://dribbble.com/webpixels" target="_blank"><i
                  class="fab fa-dribbble"></i><span class="ml-2 d-lg-none">Dribbble</span></a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/Ivan020121/Project-Comprehensive-Practice"
              target="_blank"><i class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="main">
    <section class="spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen"
      style="background-image: url('../static/images/backgrounds/img10.png')">
      <span class="mask bg-tertiary alpha-7"></span>
      <div class="spotlight-holder py-lg pt-lg-xl">
        <div class="container d-flex align-items-center no-padding">
          <div class="col">
            <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
              <div class="col-lg-7">
                <div class="text-center mt-5">
                  <h1 class="heading h1 text-white">
                    What do we do?
                  </h1>
                  <p class="lead lh-180 text-white mt-3">
                    Our research fields are bioinformatics and precision medicine. We use artificial intelligence and
                    other computing methods to solve scientific and application problems in the field of biomedicine,
                    which belongs to the current cutting-edge computer cross application research.
                  </p>
                  <div class="mt-5">
                    <a href="./product" class="btn btn-primary mr-3">Our services</a>
                    <a href="./contact" class="btn btn-secondary">Meet the team</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="slice-lg">
      <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
          <div class="col-lg-6 order-lg-2 ml-lg-auto">
            <div class="block block-image">
              <img src="../static/images/prv/device-1.png" class="img-fluid img-center">
            </div>
          </div>
          <div class="col-lg-5 order-lg-1">
            <div class="row-wrapper">
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">
                    <div class="icon icon-lg">
                      <i class="fab fa-twitter"></i>
                    </div>
                    <div class="icon-text">
                      <h3 class="heading h4">Latest Bootstrap framework</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">
                    <div class="icon icon-lg">
                      <i class="fab fa-sass"></i>
                    </div>
                    <div class="icon-text">
                      <h3 class="heading h4">Built with Sass <small>(included)</small></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex align-items-start">
                    <div class="icon icon-lg">
                      <i class="fas fa-tint"></i>
                    </div>
                    <div class="icon-text">
                      <h3 class="heading h4">Extended color palette</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section>
      <div class="container-fluid px-0">
        <div class="card-group flex-column flex-md-row">
          <div class="card bg-primary text-white px-4 px-lg-5 py-5 rounded-0 border-0 mb-0">
            <div class="card-body">
              <h1 class="heading h2 text-white">Theme as framework</h1>
              <p class="mt-4">
                Boomerang was designed as its own extended version of Bootstrap, built for offering a complete solution
                for various industries — business, real estate, travel and much more.
              </p>
              <a href="#" class="btn btn-secondary mt-4">Learn more</a>
            </div>
          </div>
          <div class="card bg-secondary px-4 px-lg-5 py-5 rounded-0 border-0 mb-0">
            <div class="card-body">
              <h1 class="heading h2">Even more components</h1>
              <p class="mt-4">
                We know how much you love Bootstrap components. That's why we've customized, and also, introduced dozens
                of completely new utilities, components and plugins.
              </p>
              <a href="#" class="btn btn-primary mt-4">Learn more</a>
            </div>
          </div>
          <div class="card bg-tertiary text-white px-4 px-lg-5 py-5 rounded-0 border-0 mb-0">
            <div class="card-body">
              <h1 class="heading h2 text-white">Tons of variables</h1>
              <p class="mt-4">
                Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values
                and the theme adapts. Customization has never been easier.
              </p>
              <a href="#" class="btn btn-secondary mt-4">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class="heading h2">Explore more features by selecting a plan</h3>
          <div class="fluid-paragraph text-center">
            <p class="lead mb-0">Choose the best solution for your business.</p>
          </div>
        </div>
        <div class="text-center mb-5">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary active">Monthly billing</button>
            <button type="button" class="btn btn-secondary">Yearly billing</button>
          </div>
        </div>
        <div class="card-deck mb-3">
          <div class="card card-pricing text-center px-3 mb-4">
            <div class="card-header py-4">
              <h4 class="mb-4">Free</h4>
              <h1 class="display-4 text-primary text-center">$0</h1>
              <span class="h6 text-muted">per month</span>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-4">
                <li>Up to 5 users</li>
                <li>Basic support on Github</li>
                <li>Monthly updates</li>
                <li>Free cancelation</li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Start free trial</button>
            </div>
          </div>
          <div class="card card-pricing popular text-center px-3 mb-4 z-depth-3">
            <div class="card-header py-4">
              <h4 class="mb-4">Multiple Use</h4>
              <h1 class="display-4 text-primary text-center">$49</h1>
              <span class="h6 text-muted">per month</span>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-4">
                <li>Up to 15 users</li>
                <li>Premium email support</li>
                <li>Weekly updates</li>
                <li>Free cancelation</li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Start free trial</button>
            </div>
          </div>
          <div class="card card-pricing text-center px-3 mb-4">
            <div class="card-header py-4">
              <h4 class="mb-4">Extended Use</h4>
              <h1 class="display-4 text-primary text-center">$199</h1>
              <span class="h6 text-muted">per month</span>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-4">
                <li>Unlimited users</li>
                <li>One on one support</li>
                <li>Weekly updates</li>
                <li>Free cancelation</li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Start free trial</button>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section class="slice sct-color-1">
      <div class="container">
        <div class="row cols-xs-space cols-sm-space align-items-center">
          <div class="col-md-6">
            <img src="../static/images/prv/img-1-1000x900.jpg" class="img-center img-fluid rounded z-depth-3">
          </div>
          <div class="col-md-6 col-lg-5 ml-lg-auto">
            <div class="pr-md-4">
              <h3 class="heading heading-3 strong-500">
                Han Wang
              </h3>
              <p class="lead text-gray mt-4">Take up one idea. Let the brain, muscles, nerves, every part of your body,
                be full of that idea, and just leave every other idea alone.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice sct-color-1">
      <div class="container">
        <div class="row cols-xs-space cols-sm-space align-items-center">
          <div class="col-md-6">
            <img src="../static/images/prv/img-1-1000x900.jpg" class="img-center img-fluid rounded z-depth-3">
          </div>
          <div class="col-md-6 col-lg-5 ml-lg-auto">
            <div class="pr-md-4">
              <h3 class="heading heading-3 strong-500">
                Hangxu Zhu
              </h3>
              <p class="lead text-gray mt-4">Take up one idea. Let the brain, muscles, nerves, every part of your body,
                be full of that idea, and just leave every other idea alone.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice sct-color-1">
      <div class="container">
        <div class="row cols-xs-space cols-sm-space align-items-center">
          <div class="col-md-6">
            <img src="../static/images/prv/img-1-1000x900.jpg" class="img-center img-fluid rounded z-depth-3">
          </div>
          <div class="col-md-6 col-lg-5 ml-lg-auto">
            <div class="pr-md-4">
              <h3 class="heading heading-3 strong-500">
                Wenhao Li
              </h3>
              <p class="lead text-gray mt-4">Take up one idea. Let the brain, muscles, nerves, every part of your body,
                be full of that idea, and just leave every other idea alone.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="slice slice-lg" data-delimiter="1">
      <div class="container">
        <div class="mb-md text-center">
          <h3 class="heading h3">NENU Institute of Computational Biology</h3>
          <div class="fluid-paragraph text-center mt-4">
            <p class="lead lh-180">The NENU-ICB is a research group focusing on human complex diseases research and
              relevant drug target discovering starting from Protein Interactome Networks. We are trying
              our best to offer computational tools and biological data services for the better lives tomorrow!</p>
          </div>
        </div>
        <div class="row cols-xs-space cols-sm-space cols-md-space">
          <div class="col-lg-4">
            <div class="card">
              <img src="../static/images/backgrounds/4.png" class="card-img-top">
              <div class="card-body text-center">
                <h3 class="heading h5 mb-1">
                  <span class="d-block">Han Wang</span>
                  <small class="text-muted">Associate Professor.</small>
                </h3>
                <p class="mt-2">Director of NENU Institute of Computational Biology.</p>
                <a href="http://js.nenu.edu.cn/teacher/index.php?zgh=1001900264" target="_blank"
                  class="btn btn-sm btn-primary">View on
                  personal homepage</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../static/images/backgrounds/6.png" class="card-img-top">
              <div class="card-body text-center">
                <h3 class="heading h5 mb-1">
                  <span class="d-block">Hangxu Zhu</span>
                  <small class="text-muted">Student</small>
                </h3>
                <p class="mt-2">Member of NENU Institute of Computational Biology.</p>
                <a href="#" target="_blank" class="btn btn-sm btn-primary">View on
                  personal homepage</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../static/images/backgrounds/6.jpg" class="card-img-top">
              <div class="card-body text-center">
                <h3 class="heading h5 mb-1">
                  <span class="d-block">Wenhao Li</Li></span>
                  <small class="text-muted">Student</small>
                </h3>
                <p class="mt-2">Member of NENU Institute of Computational Biology.</p>
                <a href="#" target="_blank" class="btn btn-sm btn-primary">View on
                  personal homepage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice bg-primary">
      <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
          <div class="col-lg-7">
            <h1 class="heading h2 text-white strong-500">
              Need more information about MCPI?
            </h1>
            <p class="lead text-white mb-0">Take up one idea. Let the brain, muscles, nerves, every part of your body,
              be full of that idea, and just leave every other idea alone.</p>
          </div>
          <div class="col-lg-3 ml-lg-auto">
            <div class="text-center text-md-right">
              <a href="./contact" class="btn bg-secondary">
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice slice-lg">
      <div class="container">
        <div class="mb-5 text-center">
          <h3 class="heading h2">Stay tuned with our institute news</h3>
          <div class="fluid-paragraph text-center">
            <p class="lead mb-0">Daily insights from our institute</p>
          </div>
        </div>
        <div class="row cols-md-space cols-sm-space cols-xs-space">
          <div class="col-lg-4">
            <div class="card border-0">
              <img src="../static/images/backgrounds/7.png" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">2019</span>
                <a href="http://psymukb.net/" class="heading h4 d-block mt-1">PsyMuKB</a>
                <p class="mt-3">
                  Psychiatric Mutation Knowledge Base.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0">
              <img src="../static/images/backgrounds/8.png" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">2019</span>
                <a href="http://icdtools.nenu.edu.cn/mpls_pred" class="heading h4 d-block mt-1">MPLs-Pred</a>
                <p class="mt-3">
                  Membrane Protein-Ligands Binding Site Predictor.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0">
              <img src="../static/images/backgrounds/7.jpg" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">2019</span>
                <a href="http://bioinformatics.nenu.edu.cn/html/1/19/142/244.html"
                  class="heading h4 d-block mt-1">Biological networks</a>
                <p class="mt-3">
                  Provide a mathematical representation of connections.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="text-center mt-5">
          <a href="#" class="text-uppercase">
            All posts
            <i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div> -->
      </div>
    </section>
  </main>
  <footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="pr-lg-5">
            <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>NENU Institute of Computational
                Biology</strong></h1>
            <p>The NENU-ICB is a research group focusing on human complex diseases research and relevant drug target
              discovering starting from Protein Interactome Networks.</p>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Achievements</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/62/83/index.html">Papers</a></li>
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/62/84/index.html">Projects</a></li>
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/19/142/index.html"> Research
                Activities</a></li>
            <!-- <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li> -->
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Cooperative unit</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="http://digbio.missouri.edu">Digital Biology Laboratory</a></li>
            <li><a class="text-muted" href="https://bmi.sjtu.edu.cn/">Biomedical Informatics lab</a></li>
            <li><a class="text-muted" href="https://www.smhc.org.cn">Shanghai Mental Health Center</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Contact us</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/93/94/index.html">Mentors</a></li>
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/93/95/index.html">Teachers</a></li>
            <li><a class="text-muted" href="http://bioinformatics.nenu.edu.cn/html/1/93/96/index.html">Students</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="d-flex align-items-center">
        <span class="">
          &copy; 2022 <a href="http://bioinformatics.nenu.edu.cn/html/1/index.html" class="footer-link"
            target="_blank">NENU-ICB</a>. All rights
          reserved.
        </span>
        <ul class="nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link active" href="https://instagram.com/webpixelsofficial" target="_blank"><i
                class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank"><i
                class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/webpixels" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://dribbble.com/webpixels" target="_blank"><i
                class="fab fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="{{url_for('static',filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/popper/popper.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/bootstrap/bootstrap.min.js')}}"></script>
  <!-- FontAwesome 5 -->
  <script src="{{url_for('static',filename = 'vendor/fontawesome/js/fontawesome-all.min.js')}}" defer></script>
  <!-- Page plugins -->
  <script src="{{url_for('static',filename = 'vendor/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/input-mask/input-mask.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/ouislider/js/nouislider.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendor/textarea-autosize/textarea-autosize.min.js')}}"></script>
  <!-- Theme JS -->
  <script src="{{url_for('static',filename = 'js/theme.js')}}"></script>
</body>

</html>